@model BoardgameActiveViewModel[]

@{
	ViewData["Title"] = "Home Page";
	var models = Model.ToArray();
}

<header class="masthead">
	<div class="container-fluid px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
		<div class="d-flex justify-content-center">
			<div class="text-center">
				<h1 class="mx-auto my-0">BoardGameHUB</h1>
				<h2 class="text-white-50 mx-auto mt-2 mb-5">The best place for all the boardgame maniacs!</h2>
				<a asp-area="" asp-controller="Boardgame" asp-action="Active" class="btn btn-primary">Get Started</a>
			</div>
		</div>
	</div>
</header>
<section class="projects-section bg-light" id="projects">
	<div class="container px-4 px-lg-5">
		<!-- Featured Project Row-->
		<div class="row gx-0 mb-4 mb-lg-5 align-items-center">
			<div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/HomepageImages/home_people_playing_2.jpg" alt="..." /></div>
			<div class="col-xl-4 col-lg-5">
				<div class="featured-text text-center text-lg-left">
					<h4>The best place</h4>
					<p class="text-black-50 mb-0">If you enjoy playing boardgames and be outdoors then this might become your second home! We offer wide variety of boardgames and whether you are two or ten - we have it all.</p>
				</div>
			</div>
		</div>
		<!-- Project One Row-->
		<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
			<div class="col-lg-6"><img class="img-fluid" src="assets/HomepageImages/Homepage_Boardgames.jpg" alt="..." /></div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							@* <h4 class="text-white">Vast collection</h4> *@
							<a asp-area="" asp-controller="Boardgame" asp-action="Upcoming" class="btn btn-primary p-3 mb-2">Vast collection</a>
							<p class="mb-0 text-white-50">We always make sure to stay up to date, so we bring you every month one of the newest boardgames released on the market!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Project Two Row-->
		<div class="row gx-0 justify-content-center">
			<div class="col-lg-6"><img class="img-fluid" src="assets/HomepageImages/HomePage_MakeAReservaiton.jpg" alt="..." /></div>
			<div class="col-lg-6 order-lg-first">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-right">
							<h4 class="text-white">Make a reservation!</h4>
							<p class="mb-0 text-white-50">
								We have limited space so hurry up and make your reservation. Check our prices</p>
								<a asp-area="" asp-controller="PlaceType" asp-action="All" class="btn btn-primary p-3 mt-2">here!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-dark"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-dark"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-dark"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="w-100 d-flex justify-content-center align-items-center">
					<img class="d-block w-50" src="@models[0].CardImageUrl" alt="First slide" />
				</div>
			</div>
			<div class="carousel-item">
				<div class="w-100 d-flex justify-content-center align-items-center">
					<img class="d-block w-50" src="@models[1].CardImageUrl" alt="Second slide" />
				</div>
			</div>
			<div class="carousel-item">
				<div class="w-100 d-flex justify-content-center align-items-center">
					<img class="d-block w-50" src="@models[2].CardImageUrl" alt="Third slide" />
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only text-black">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
